#sidebar {
  background-color: purple;
  color: white;
}

#main {
  background-color: purple;
  color: white;
}

#equation {
  font-weight: bold;
}

#rsquared {
  font-weight: bold;
}

#sidebar {
  color: white;
}
