#sidebar {
  background-color: red;
  color: red;
}

#main {
  background-color: red;
  color: blue;
}


.center{
  margin-left: 200px;
  margin-right: 200px;
  font-weight:bold;
}

.center_text{
  margin-left: 200px;
  margin-right: 200px;
}

