#sidebar_scatter {
  background-color: purple;
  color: white;
}

#main_scatter {
  background-color: purple;
  color: white;
}

#equation {
  font-weight: bold;
}

#rsquared {
  font-weight: bold;
}
