#sidebar {
  background-color: purple;
}

#main {
  background-color: purple;
}

#equation {
  font-weight: bold;
}

#rsquared {
  font-weight: bold;
}

body {
  color: white;
}

h2 {
  color: purple;
}
